.tarea-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tarea-input {
  width: 350px;
  font-size: 18px;
  background-color: #fff;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0354c7;
  outline: none;
}

.tarea-boton {
  padding: 16px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #708090;
  color: #fff;
  text-transform: capitalize;
}